body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1000px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.input-output {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

textarea#inputText, 
textarea#outputText {
    flex-grow: 1;
}

.output-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    font-family: Arial, sans-serif;
    outline: none;
}

button:hover {
    background-color: #0056b3;
}

#copyButton {
    background-color: #28a745;
    margin-left: auto;
    display: none; 
}

#copyButton:hover {
    background-color: #218838;
}

.buttons {
    display: flex;
    justify-content: flex-start; 
    margin-top: 10px;
    gap: 10px;
}

@media (max-width: 768px) {
    .input-output {
        flex-direction: column;
    }

    textarea#inputText, 
    .output-container {
        width: 100%;
        margin-right: 0;
    }
    
    .buttons {
        flex-direction: column;
        align-items: flex-start; 
    }

    .buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
}
